body {
  height: 1000px;
}

.my-border-input {
  outline: 1px solid black;
}

.my-border-btn {
  border: 1px solid black !important;
}

.my-border-btn:hover {
  border: 1px solid black !important;
}

.my-border-btn:active {
  border: 1px solid black !important;
}

.my-bg-main,
.my-btn-main {
  background-color: #055160;
  color: white;
}

.my-btn-main:hover {
  background-color: #033f4b;
  color: white;
}

.my-btn-main:active {
  background-color: #055160 !important;
  color: white !important;
}

.my-text-main {
  color: #055160 !important;
}

.my-template-area {
  width: 100%;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-template-areas:
    'navbar navbar'
    'sidebar content'
    'sidebar content';
}

.my-navbar {
  grid-area: navbar;
  background-color: #055160;
  color: white;
  padding: 7px 14px 7px 14px;
}

.my-sidebar {
  grid-area: sidebar;
  height: 100vmax;
  border-right: 1px solid black;
}

.my-content {
  grid-area: content;
  padding: 0 10px 0 10px;
}

.my-sidebar {
  border-radius: 0px;
}

.list-group-item {
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  font-size: .9em !important;
}

.my-active {
  background-color: #055160;
  color: white;
}

.my-active:hover {
  background-color: #055160;
  color: white;
}

.list-group-item {
  border: none;
}

table.my-table-admin thead td {
  background-color: #055160 !important;
  color: white !important;
}

table.my-table-admin tr {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.content-paket-menu {
  width: 80%;
}

.content-biaya-ongkir {
  width: 70%;
}

.my-form-jadwal-family {
  width: 100%;
  box-sizing: border-box;
}

.my-form-jadwal-family input {
  display: block;
}

.my-form-jadwal-family button {
  width: 100%;
}

.list-content-jadwal li {
  padding: .5em !important;
}

.list-tambah-menu li {
  padding: 0 !important;
  margin: 0 !important;
}

.btnHapusListMenu {
  padding: 0 !important;
}

.content-jadwal-personal{
  width: 100%;
  margin: 0 auto;
}

.list-jadwal{
  display: flex;
}

.list-jadwal > *{
  width: 100%;
}

.list-jadwal .sublist-jadwal:nth-child(1) {
  width: fit-content;
  padding: 10px;
}

.header-list{
  background-color: #055160;
  color: white;
  padding: 10px;
}

.body-list{
  padding: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 992px) {
  .my-sidebar {
    height: 100vmax;
  }
}

@media (max-width: 768px) {
  .my-template-area {
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
      'navbar'
      'content'
      'content';
  }

  .my-sidebar {
    height: 100%;
  }

  .list-jadwal{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3em;
  }

  .list-jadwal .sublist-jadwal:nth-child(1) {
    width: 100%;
    padding: 10px;
  }

  .sublist-jadwal:nth-child(1) {
    border: 1px solid black !important;
    border-radius: unset !important;
    border-top-left-radius: .5em !important;
    border-top-right-radius: .5em !important;
  }

  .sublist-jadwal:nth-child(2) {
    border: unset !important;
    border-right: 1px solid black !important;
    border-left: 1px solid black !important;
  }

  .sublist-jadwal:nth-child(3) {
    border: 1px solid black !important;
    border-radius: unset !important;
    border-bottom-left-radius: .5em !important;
    border-bottom-right-radius: .5em !important;
  }
}