input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root{
  --purpledark: #2c1a4d;
  --purplelight: #6f42c1;
  --purple: #6f42c1;
  --purplelight: #e2d9f3;
  --tosca: #0dcaf0;
  --red: #DC3545;
  --pink: #f8d7da;
}

body {
  font-size: .9em;
  color: var(--purpledark);
}

.my-text-purpledark {
  color: var(--purpledark);
}

.my-border-input {
  outline: 1px solid black;
}

.my-border-btn {
  border: 1px solid black !important;
}

.my-border-btn:hover {
  border: 1px solid black !important;
}

.my-border-btn:active {
  border: 1px solid black !important;
}

.my-btn-purple {
  color: white;
  background-color: var(--purple);
}

.my-btn-purpledark {
  color: white;
  background-color: var(--purpledark);
}

.my-btn-purpledark:hover {
  color: white;
  background-color: var(--purpledark);
  filter: brightness(1.1);
}

.my-btn-purple:hover {
  color: white;
  background-color: var(--purpledark);
  filter: brightness(1.1);
}

.my-btn-tosca {
  color: black;
  background-color: var(--tosca);
}

.my-btn-tosca:hover {
  color: black;
  background-color: var(--tosca);
  filter: brightness(1.1);
}

.my-bg-purple {
  background-color: var(--purple) !important;
  color: white !important;
}

.my-bg-purpledark {
  background-color: var(--purpledark);
  color: white;
}

.my-bg-pink {
  background-color: var(--pink);
}

.my-bg-purplelight {
  background-color: var(--purplelight) !important;
}

.content-daftar ul li:nth-child(1) {
  border-bottom: 1px solid black !important;
}

nav.my-nav {
  box-shadow: 1px -1px 10px black !important;
}

nav img {
  box-shadow: 0px 3px 10px -4px black !important;
}

.content {
  margin-top: 4em;
}

.content ul.nav-tab a {
  outline: 1px solid black !important;
}

.content ul.nav-tab a:hover {
  background-color: var(--purple);
  color: white;
}

.my-active-tab{
  background-color: var(--purple);
  color: white;
}

.content-pesananku .table-content,
.content-pesanan-selesai .table-content {
  border: 1px solid black;
  width: fit-content;
  margin: 0 auto;
  border-radius: .5em;
  overflow: hidden;
}

.content-pesananku table thead tr td,
.content-pesanan-selesai table thead tr td {
  background-color: var(--purple);
  color: white;
}

.content-pesananku table tr td,
.content-pesanan-selesai table tr td {
  border-bottom: 1px solid black;
}

.content-pesananku table tbody tr:last-child td,
.content-pesanan-selesai table tbody tr:last-child td {
  border-bottom: unset;
}

.content-pesananku table tr td {
  padding-left: .5em !important;
  padding-right: .5em !important;
}

.content-pesanan-selesai table tr td {
  padding-left: 1.3em !important;
  padding-right: 1.3em !important;
}

.content-detail-pesanan-b ul,
.content-detail-pesanan-p ul {
  max-width: 600px;
}

.content-detail-pesanan-b ul.data-pesanan p,
.content-detail-pesanan-p ul.data-pesanan p {
  margin: 0 !important;
}

.content-detail-pesanan-b ul.list-pesanan li,
.content-detail-pesanan-p ul.list-pesanan li {
  border-top: 1px solid black;
}

.content-detail-pesanan-b ul.list-pesanan li:first-child,
.content-detail-pesanan-p ul.list-pesanan li:first-child {
  background-color: var(--purple);
  color: white;
  border: none;
}

.content-detail-pesanan-b table tr td {
  border: 1px solid black;
}

.content-daftar-pesanan {
  max-width: 50em;
}

.content-daftar-pesanan ul.list-daftar-pesanan li {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
}

.content-daftar-pesanan ul.list-daftar-pesanan li:first-child {
  border-top: 1px solid black;
}

.content-daftar-pesanan ul.list-daftar-pesanan button {
  background-color: var(--red);
  color: white;
  height: 100%;
  font-size: .9em;
  border-left: 1px solid black;
}

.content-daftar-pesanan ul.list-daftar-pesanan button:hover {
  background-color: var(--red);
  filter: brightness(.9);
  color: white;
}

.content-daftar-pesanan ul.list-daftar-pesanan button:active {
  background-color: var(--red);
  color: white;
  border-left: 1px solid black;
  border-right: 1px solid var(--red);
  border-top: 1px solid var(--red);
  border-bottom: 1px solid var(--red);
}

.content-daftar-pesanan .my-collapse {
  display: none;
}

.content-daftar-pesanan .list-pembayaran {
  border:  unset;
}

.content-homepage .my-jumbotron {
  padding-top: 3em;
  position: relative;
  height: 100vh;
  background-color: salmon;
  overflow: hidden;
}

.content-homepage .my-img-jumbotron {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
  height: 100%;
  box-shadow: 
    inset 0px 11px 8px -10px black,
    inset 0px -150px 50px -100px black;
}

.content-homepage .my-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 50%;
  transform: scale(1.3);
  background-color: var(--pink);
  filter: blur(130px);
}

.content-homepage .my-body-jumbotron {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
}

.content-homepage .my-body-jumbotron h4 {
  letter-spacing: .2em;
}

.content-homepage .my-body-jumbotron h1 {
  letter-spacing: .1em;
}

.content-homepage .my-body-jumbotron h3 {
  letter-spacing: .1em;
}

.content-homepage .my-body-jumbotron h1, h3, h4 {
  text-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.content-homepage button:first-child {
  padding-right: 1em !important;
}

.content-homepage button:last-child {
  padding-left: 1em !important;
}

.content-homepage .my-btn-group {
  box-shadow: 0 5px 20px rgba(0, 0, 0, .7);
}

.content-homepage button:hover {
  background-color: var(--purpledark);
  color: white;
}

.content-homepage .content-katalog {
  background-color: salmon;
  height: 500px;
}

.content-daftar-pesanan .InfoDaftarPesanan {
  display: none;
}